<!-- <div style="text-align: right;height: 70px;"> -->
<!-- <a href="http://35.154.124.32/troubleshoot/chatbot"> <img src="assets/images/chat.png" style="width: 75px;padding-right: 25px;"></a> -->

<!-- <img (click)="chatbot()" src="assets/images/chat.png" style="width: 75px;padding-right: 25px;">
    <div [ngClass]="{'showChatBox':ShowChatBot == true, 'hideChatBox':ShowChatBot==false}">
        <div style="border: 1px solid lightgray;width:100%; height: 100%;max-height: 800px;border-radius: 8px 8px 0px 0px;">
            <div class="virtualTop">Virtual Assistant<i class="fa fa-times-circle" aria-hidden="true" style="float: right;font-size: 30px;" (click)="chatbot()"></i></div>
            <iframe style="width:100%; min-height: 500px;" src="http://35.154.124.32/troubleshoot/chatbot/" frameborder="0">
            </iframe>
        </div>
    </div>
</div>
<div id="footerWrapper">
    <div id="copyRigths">&copy; Copyright 2019 ITARIUM Technologies India Pvt. Ltd. All Rights Reserved</div>
</div> -->

<div style="text-align: right;height: 100px;position: fixed;bottom: 30px; right: 0px;">
  <!-- <a href="http://35.154.124.32/troubleshoot/chatbot"> <img src="assets/images/chat.png" style="width: 75px;padding-right: 25px;"></a> -->
  <a (click)="chatbot()"> <img src="assets/images/chat.png"
      style="width: 175px;padding-right: 25px;max-width: 92px;"></a>
</div>
<div id="footerWrapper">
  <div id="copyRigths">&copy; Copyright {{date}} ITARIUM Technologies India Pvt. Ltd. All Rights Reserved</div>
</div>