<div id="logInPage">
  <div class="forgotPannel">
    <div id="loginPannel">
      <div id="logo"></div>
      <div id="heading">Reset Password</div>
      <form class="login-form mt-lg" [formGroup]="forgotPasswordForm" novalidate>


        <div class="formEntity">
          <label style="font-size: 16px">New Password <span style="color:red">*</span></label>
          <input class="inputTxt" style="width: 100%" required id="new_pswd" [type]="hide ? 'password' : 'text'"
            [class.invalid-input]="!forgotPasswordForm.controls['newPassword'].valid && forgotPasswordForm.controls['newPassword'].touched"
            placeholder="New Password" formControlName="newPassword">
          <span>
            <i (click)="hide = !hide" [class]="hide ? 'fa fa-fw fa-eye' : 'fa fa-fw fa-eye-slash'" *ngIf="show==false"
              style="position: relative; right: 12px; top: -25px; float: right;">
            </i>
          </span>
        </div>

        <div class="formEntity">
          <label style="font-size: 16px">Confirm Password <span style="color:red">*</span></label>
          <input class="inputTxt" style="width: 100%" required id="confirm_pswd" [type]="hides ? 'password' : 'text'"
            [class.invalid-input]="!forgotPasswordForm.controls['confirmPassword'].valid && forgotPasswordForm.controls['confirmPassword'].touched"
            placeholder="Confirm Password" formControlName="confirmPassword">
          <span>
            <i (click)="hides = !hides" [class]="hides ? 'fa fa-fw fa-eye' : 'fa fa-fw fa-eye-slash'"
              *ngIf="show==false" style="position: relative; right: 12px; top: -25px; float: right;">
            </i>
          </span>
          <p class="text-danger"
            *ngIf="forgotPasswordForm.controls['confirmPassword'].touched && 
          (this.forgotPasswordForm.controls['confirmPassword'].value !== this.forgotPasswordForm.controls['newPassword'].value)">
            New Password and Confirm Password is not same</p>
        </div>
      </form>

      <div class="row">
        <div class="col-lg-12" class="formEntity">
          <button type="submit" style="position: relative;" id="logInBtn" style="border: none;float: none"
            [disabled]="busy || this.forgotPasswordForm.invalid"
            [style.cursor]="(busy || this.forgotPasswordForm.invalid) ? 'not-allowed' : 'pointer'"
            (click)="forgotpasswordMethod()">
            {{busy ? 'Wait..' : 'Reset'}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>