.modal-header .close {
    padding: 0;
    margin: 0;
}

.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    min-width: 45vw !important;
    padding: 10px;
}
.modal-body{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right:auto; 
}