<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-lg-12">
      <form id="loginform" [formGroup]="PasswordForm">
        <div class="formEntity" *ngIf="data.title == 'Forgot Password'">
          <label>Email</label>
          <input type="email" [required]="data.title == 'Forgot Password' ? true:false" formControlName="email" class="form-control" name="UserName" id="UserName" placeholder="">
          <p class="text-danger" *ngIf="this.PasswordForm.controls['email'].hasError('pattern')">
            Enter valid email</p>
        </div>
        <div class="formEntity" *ngIf="data.title == 'Change Password'">
          <label>Old Password</label>
          <input type="text" formControlName="oldPassword" class="form-control" name="UserName" id="UserName"
            placeholder="">
        </div>
        <div class="formEntity" *ngIf="data.title == 'Change Password'">
          <label>New Password</label>
          <input type="password" formControlName="newPassword" class="form-control" name="Password" id="Password"
            placeholder=" ">
        </div>
        <div class="formEntity" *ngIf="data.title == 'Change Password'">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" name="Password"
            id="ConfirmPassword" placeholder=" ">
          <p class="text-danger"
            *ngIf="PasswordForm.controls['confirmPassword'].touched && (this.PasswordForm.controls['confirmPassword'].value !== this.PasswordForm.controls['newPassword'].value)">
            New Password and Confirm Password is not same</p>
        </div>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="row">
    <div class="col-lg-6">
      <label id="colorText">{{message}}</label>
    </div>
    <div class="col-lg-6">
      <button style="margin-top: 20px;
      float: right;" id="logInBtn" class="btn btn-warning" (click)="savePassword()">Change</button>
      <span>
        <button style="margin-top: 20px; margin-right: 10px;
      float: right;" id="logInBtn" class="btn btn-warning" (click)="dialogRef.close()">Cancel</button>
      </span>
    </div>
  </div>
</div>